.main {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: url(/magdaEhlers.jpg) no-repeat center center;
    background-size: cover;
    align-items: center;
    overflow: hidden;
}

.topLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 50px;
}

.topLeft p {
    font-size: 40px;
    color: var(--text-color);
}

.credits {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    right: 50px;
}

.credits p {
    font-size: 15px;
    color: var(--text-color);
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 30px;
    left: 50px;
}

.welcome p {
    font-size: 50px;
    color: var(--text-color);
}

.zumbra {
    display: flex;
    width: max-content;
    justify-content: end;
    align-items: end;
    position: absolute;
    bottom: 0;
    right: 50px;
}

.zumbra p {
    font-size: 120px;
    color: var(--text-color);
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 50px;
}

.menu nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px;
}

.menu nav ul li {
    font-size: 30px;
    color: var(--text-color);
    width: 10vw;
    text-align: end;
}

.menu nav ul li:hover {
    cursor: pointer;
    background-color: var(--text-color);
    color: var(--third-color);
}

@media screen and (max-width: 800px) {

    .topLeft {
        top: 30px;
    }

    .topLeft p {
        font-size: 30px;
    }

    .welcome {
        bottom: unset;
        top: 150px;
    }

    .welcome p {
        font-size: 40px;
    }

    .zumbra {
        bottom: unset;
        right: unset;
        top: 200px;
        left: 50px;
    }

    .zumbra p {
        font-size: 100px;
    }

    .main {
        flex-direction: column;
        justify-content: end;
        align-items: start;
    }

    .credits {
        top: unset;
        right: unset;
        left: 50px;
        bottom: 30px;
    }

    .menu {
        right: unset;
        margin-bottom: 100px;
        width: 100%;
        left: 50px;
        align-items: start;
        justify-content: start;
    }

    .menu nav ul {
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
        width: 100%;
    }

    .menu nav ul li {

        font-size: 20px;
        width: unset;
    }

}

@media screen and (max-width: 600px) {

    .main {
        flex-direction: column;
        justify-content: end;
        align-items: center;
    }

    .topLeft p {
        font-size: 40px;
    }

    .welcome {
        top: 200px;
        bottom: unset;
    }

    .welcome p {
        font-size: 40px;
    }

    .zumbra {
        top: 650px;
        bottom: unset;
        left: 50px;
        right: unset;
    }


    .credits {
        top: unset;
        bottom: 50px;
        right: 50px;
    }

    .zumbra p {
        font-size: 80px;
    }

    .menu {
        right: unset;
        margin-bottom: 100px;
        width: 100%;
        align-items: center;
    }

    .menu nav ul {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .menu nav ul li {
        font-size: 25px;
        width: unset;
    }

}

@media screen and (max-width: 540px) {

    .topLeft {
        top: 30px;
    }

    .welcome {
        top: 170px;
    }

    .main {
        flex-direction: column;
        justify-content: end;
        align-items: start;
    }

    .zumbra {
        top: 220px;
    }


    .menu {
        right: unset;
        margin-bottom: 120px;
        width: 100%;
        left: 50px;
        align-items: start;
        justify-content: start;
    }

    .menu nav ul {
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
        width: 100%;
    }

    .menu nav ul li {
        font-size: 30px;
        width: unset;
    }

}


@media screen and (max-width: 400px) {
    .topLeft {
        top: 30px;
    }

    .welcome {
        top: 180px;
    }

    .zumbra {
        top: 210px;
    }

    .menu {
        margin-bottom: 100px;
    }

}