html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.monaco-editor,
.monaco-editor-background,
.monaco-editor .margin,
.monaco-editor .monaco-scrollable-element {
  height: 100% !important;
}
